/* ===== HOME BANNER ===== */
#homeBanner {
    height: 100vh;
    overflow: hidden;
}

    #homeBanner .carousel-inner,
    #homeBanner .carousel-item {
        height: 100vh;
    }

    #homeBanner img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

/* Tăng thời gian trượt cho mượt hơn (Tùy chọn) */
.carousel-item {
    /* Không dùng !important ở đây để tránh lỗi vị trí */
    transition: transform 1.2s ease-in-out;
}
/* Tùy chỉnh các nút điều hướng */
#homeBanner .carousel-control-prev-icon,
#homeBanner .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
}

/* Tùy chỉnh các chấm báo hiệu */
.carousel-indicators [button] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}
