@model MangaShop.ViewComponents.UserBadgeVM

@if (Model?.Tier == "Kim cương")
{
    <span class="badge bg-info text-dark ms-2">💎 Kim cương</span>
}
else if (Model?.Tier == "Vàng")
{
    <span class="badge bg-warning text-dark ms-2">🥇 Vàng</span>
}
else if (Model?.Tier == "Bạc")
{
    <span class="badge bg-secondary ms-2">🥈 Bạc</span>
}
else
{
    <span></span>
}
