@{
    ViewData["Title"] = "Trang chủ";
}

<link rel="stylesheet" href="~/css/home.css" />

<div id="homeBanner"
     class="carousel slide"
     data-bs-ride="carousel"
     data-bs-interval="5000"
     data-bs-pause="false"
     data-bs-wrap="true">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="0" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/biapage1.jpg" class="d-block w-100" alt="Banner 1" />
        </div>

        <div class="carousel-item">
            <img src="~/images/biapage2.jpg" class="d-block w-100" alt="Banner 2" />
        </div>

        <div class="carousel-item">
            <img src="~/images/biapage3.jpg" class="d-block w-100" alt="Banner 3" />
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#homeBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#homeBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>