/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/*footer*/
/* ==========================================================================
   6. FOOTER SECTION
   ========================================================================== */
.footer-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff; /* Chữ màu trắng trên nền ảnh */
}

    /* Lớp phủ mờ để dễ đọc chữ hơn nếu ảnh quá sáng */
    .footer-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); /* Độ mờ 70% */
        z-index: 1;
    }

    .footer-section .container {
        position: relative;
        z-index: 2; /* Đẩy nội dung lên trên lớp phủ */
    }

.footer-heading {
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-info p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 8px;
    color: #ccc;
}

.footer-list li {
    font-size: 14px;
    margin-bottom: 12px;
    display: flex;
    gap: 10px;
}

.footer-list i {
    color: #fff;
    margin-top: 4px;
}

.footer-links li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links li {
    margin-bottom: 10px;
}

    .footer-links li a:hover {
        color: #fff;
        padding-left: 5px;
    }

.newsletter-form input {
    background: rgba(255, 255, 255, 0.9);
    font-size: 13px;
}

.fanpage-widget {
    max-width: 250px;
    border-radius: 4px;
    overflow: hidden;
}

.footer-bottom p {
    font-weight: 500;
}